In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import datetime 
import time
import radix
import gpxpy
import gpxpy.gpx
import requests

%matplotlib inline

In [21]:
DataFrame1 = pd.read_csv('track_points.csv', sep=",", usecols=(0,1))

In [22]:
DataFrame1.head()

            X          Y
0 -123.256691  44.587662
1 -123.256691  44.587662
2 -123.256691  44.587654
3 -123.256699  44.587643
4 -123.256714  44.587627

In [23]:
StreetName = ['Franklin', 'Alder', 'patterson', 'Agate', '13th', '14th', '15th', '16th', 'Olive st', 'Hilyard']

In [24]:
DataFrame2 = DataFrame1.head(10).copy()

In [25]:
DataFrame2['Street_Name'] = StreetName

In [19]:
DataFrame2.head()

            X          Y Street_Name
0 -123.256691  44.587662    Franklin
1 -123.256691  44.587662       Alder
2 -123.256691  44.587654   patterson
3 -123.256699  44.587643       Agate
4 -123.256714  44.587627        13th